body {
    margin: 0;
    overflow: hidden;
    text-align: center;
    background-color: black;
    color: white;
}

h1 {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 24px;
}

#mobile-controls {
    position: absolute;
    bottom: 20px;
    width: 100%;
    text-align: center;
}

#mobile-controls button {
    font-size: 30px;
    margin: 5px;
    padding: 10px;
}
