body {
    text-align: center;
    background-color: black;
    color: white;
}

canvas {
    display: block;
    margin: auto;
    background: url('assets/textures/skybox.jpg');
}

#controls {
    position: fixed;
    bottom: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 10px;
}

button {
    font-size: 20px;
    padding: 10px;
}
